body{
  background: #141414;
  color: #ffffff;
}

.movie-app > .row{
  overflow-x: auto;
  flex-wrap: nowrap;
}

.row1{
  overflow-x: auto;
  /* display: flex; */
  flex-wrap: nowrap;
  /* gap: 16px; */
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns : repeat( 5, 1fr);
  grid-auto-rows: 1fr;
  /* gap: 1rem; */
}